* {
    box-sizing: border-box;
    margin: 0 auto;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */

.todolist-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* background-color: #ff9999; */
    background-color: honeydew;
    border: solid black 0.012em;
    box-shadow: 5px 10px #b9b9b9;
    padding: 10px;
    margin: 0 auto;
    margin-top: 1rem;
}

/* .header-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    padding: 1em;
} */

.header-title:hover {
    cursor: default;
}

/* .todo-container { */

    /* display: flex;
    flex-direction: column;
    align-items: center; */
/* } */

.todo-container:hover {
    cursor: pointer;
}

/* .todo-item {
  text-align: justify;
} */

.removeBtn {
    display: inline-block;
    text-align: center;
    border: none;
    border-radius: 50%;
    padding: 8px;
    height: 26px;
    width: 26px;
    color: white;
    padding: 2px;
    margin: 0 auto;
    margin: 1em;
    background-color: #262626;

    transition: width 2s;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

.removeBtn:hover, .removeBtn:focus {
    background-color: lightgray;

}

@media (min-width: 800px){
    .todolist-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 800px;
        margin-top: 2em;
    }
}